body {
    margin-top: 0;
    margin-bottom: 0;
    max-height: 100vh;
    font-family: 'Raleway', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    height: 90%;
}

h1 {
    font-size: 2rem;
    text-decoration: underline;
}

#output {
    font-size: 3rem;
    /* justify-content: center; */
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    border-color: black;
    border-style: double;
    border-width: 0.5rem;

}

#clock {
    font-size: 3rem;
}
